 :root {
  --var-body-bg: #252525;
  --var-header-bg: #ffffff27;
  --var-allcolor: #ffffff;
  --var-but-bg: #343434;
  --var-switch-color: #ffffff;
  --var-logo-c: #fff;
  --var-switchback: #000000;
  --var-switchcircle: #fff;
 }
 
 [light] {
  --var-body-bg: #e1e1e1;
  --var-header-bg: rgba(0, 0, 0, 0.85);
  --var-allcolor: #333;
  --var-but-bg: #343434;
  --var-switch-color: #222222;
  --var-logo-c: #000;
  --var-switchback: #fff;
  --var-switchcircle: #000000;

 }

 * {
  -webkit-tap-highlight-color: transparent;
      text-decoration: none;
}


#logo {
    padding-left: 18px;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 15px;
}
#logo a::before {
  color: #fff;
}
#logo a {
  color: #fff;
  transition: color 0.3s;
}
#logo a:hover {
  color: #a0a0a0;
}
header {
    background-color: var(--var-header-bg);
    backdrop-filter: blur(20px);
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 57px;
    z-index: 999999999;
}
header {
  -webkit-backdrop-filter: blur(20px);
}
    

body {
        
      font-family: Arial, sans-serif;
      display: flex;
      flex-wrap: wrap;
      background-color: var(--var-body-bg);
      /* align-items: center;
      justify-content: center;
      height: 100vh; */
      margin: 0;
      /* transition: all 2s; */
}

    .card-title, .card-content {
      font-size: 20px;
    }
    .cardsfield {
      top: 50%;
      justify-content: center;
        /* padding-top: 70px; */
      margin-top: 45px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      /* align-items: center;
      justify-content: center;
      height: 100vh; */
      /* transition: all 2s;  */
    }
    .flashcard {
      background-color: #343434;
      color: #fff;
      border: 1px solid #ccc;
      border-radius: 9px;
      /* padding: 20px; */
      padding: 0 10px 0 10px;
      text-align: center;
      cursor: pointer;
      /* transition: transform 0.5s; */
      margin: 10px;
      
      width: 240px;
      height: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .flashcard img {
      max-width: 100%;
      height: auto;
      max-height: 134px;

    }
   
    @media (max-width: 645px){
      .flashcard {
        width: 43%;
      }
    }
    @media (max-width: 600px){
      .flashcard {
        width: 42%;
      }
    }

    /* @media (max-width: 425px){
      .flashcard {
        width: 39%;
      }

    }
    @media (max-width: 380px){
      .flashcard {
        width: 38%;
      }
      .card-title {
        font-size: 18px;

      }

    } */
    @media (min-width: 540px){
      .bigcards {
        width: 523px;
      }
    }
    @media (max-width: 540px){
      .flashcard {
        width: 100%;
      }
      .card-title {
        font-size: 21px;

      }
    }


    .flashcard .card-content {
      display: none;
    }
    .flashcard.flipped .card-title {
      display: none;
    }
    .flashcard.flipped .card-content {
      display: block;
    }


    .flashcard.allflipped {
      display: flex;
      flex-direction: column;
      height: fit-content;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .flashcard.allflipped .card-title {
      margin-top: 10px;
      margin-bottom: 10px;
      order: 2;
      width: 100%;      
      color: #000000;
      font-weight: bold;
      transform: rotateX(180deg);
    }
    .flashcard.allflipped .card-content {
      order: 1;
      display: block;
    }
    .flashcard.allflipped {
      transform: rotateX(180deg);
    }

    .mainscreenhi {
      letter-spacing: 1px;

      padding-left: 11px;
      padding-right: 11px;
      padding-top: 70px;
      margin-top: 45px;
      width: 100%;
      text-align: center;
      color: var(--var-allcolor);
      font-weight: 900;
      font-family: 'Inter', sans-serif;
      /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
      /* align-items: center;
      justify-content: center;
      height: 100vh; */
        margin: 0;
    }
    
::-webkit-scrollbar {
	width: 0px
}
::-webkit-scrollbar-track {
background-color: #2F2F2F
}
::-webkit-scrollbar-thumb {
	background-color: #b7b7b7;
	border-radius: 19px;
	border: 3px solid #2f2f2f
		
}

.namecategoriesonit {
  color: var(--var-allcolor);
  width: 100%;
  text-align: center;
  margin-top: 70px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}
.namepodcat {
  color: var(--var-allcolor);
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

/* ---------------- */
@keyframes fadein {

  0% {opacity: 0;};
  100% {opacity: 2;}
  
}
.card-content {
  transform: rotateX(180deg);
  animation: fadein 0.2s ease-in-out;
}
.card-title {
  animation: fadein 0.2s ease-in-out;
}


.flashcard {
  perspective: 1000px;
  position: relative;
  transition: transform 0.2s;
}

.flashcard.flipped {
  transform: rotateX(180deg);
}

/* ------------------- */

/* .bigformuls {
  width: 190px;
} */
.buttogamecont {
  margin-left: auto;
  margin-right: auto;
 padding-bottom: 40px;
 width: 100%;
 justify-content: center;
}
.buttogamecont a {
display: inline-block;
}


@keyframes animQsa4 {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
#buttogame , .opencards {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 230px;
  letter-spacing: 1.7px;
  margin-top: 20px;
  background-color: #2F2F2F;
  background-image: url('https://seelk.by/wp-content/uploads/2023/10/form1background.webp');
  color: #fff;
  height: 60px;
  border-radius: 9px;
  border: solid 2px #707070;
  animation: animQsa4 70s infinite;
  font-size: 18px;
  transition: border 0.5s;
}

#buttogame:hover {
  border: solid 2px rgb(162, 0, 255);

}

.but {
  width: 280px;
  letter-spacing: 1.7px;
  /* position: absolute; */
  /* margin-bottom: 70px; */
  /* position: fixed;
  top: 850%; */
  background-color: #2F2F2F;
  color: #fff;
  height: 60px;
  border-radius: 13px;
  border: solid 2px #707070;
  font-size: 18px;
  transition: border 0.5s;

}

@media (max-height: 580px){
  .but {
      margin-bottom: -70px;

  }
}
@media (max-height: 465px){
  .but {
      margin-top: 20px;
  }
}



.but:hover {
  border: solid 2px #fff;
}

.parentexttogame {
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  width: 100%;
}

.texttogame {
  margin-left: auto;
  margin-right: auto;
  font-size: 19px;
  color: #fff;
  text-align: justify; 
  max-width: 300px;
  background-color: var(--var-but-bg);
  padding: 15px;
  border-radius: 13px;
}

/* @media (max-width: 590px){
  body {
    background-image: url('https://seelk.by/wp-content/uploads/2023/11/freffaf.png');
    background-size: 100%;
  }
} */


/* --------------------------------mainsort----------------------------------------------- */
#categoriesfield {
  margin-top: 200px;
  position: relative;
  width: 100%;
}

*{
font-family: Inter, sans-serif;
}

#sortblockh3{
margin-bottom: 5px;
}

.categories {
list-style-type: none;
padding: 0px;
margin-bottom: 2px;
}
.rotated {
  display: inline-block;
  position: fixed;
transform: rotate(0deg);
width: max-content;
top: 10px;
right: 20px;
z-index: 999;
font-size: 11px;
}

.nameC {
height: 20px;
}

.caret {
transform: rotate(90deg);
}

.category, .categortoall {
/*     font-size: 17px; */
margin: 10px 5px;
padding: 10px 20px;
background-color: #343434;
color: #fff;
border: solid 1px #ffffff00;
border-radius: 7px;
backdrop-filter: blur(30px);
cursor: pointer;
transition:  background-color 0.4s  ease;
letter-spacing: 1px;
}
.category:hover {
transition: 0.5s;
/*     background-color: #3131319e; */
border: solid 1px #ffffff20;
}



.subcategories {
list-style-type: none;
padding: 0;
display: none;
flex-direction: column;
margin-top: 10px;
width: 100%;
color: #fff;
}

.subcategories li {
padding-top: 0px;
padding-left: 10px;
}
.menu-button {
font-size: 13px;
text-align: left;
margin: 5px;
margin-left: -20px;
padding: 10px 20px 10px 10px;
background-color: #00000026;
color: #fff;
border-radius: 7px;
backdrop-filter: blur(34px);
cursor: pointer;
transition:  background-color 0.4s  ease;
letter-spacing: 1px;
width: 100%;
border: solid 1px #ffffff00;
}

  
.menu-button:hover {
transition: 0.4s;
/*     background-color: #4848487d; */
border: solid 1px #ffffff40;
}

.menuMain {
  z-index: -99;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  width: 87%;
  max-width: 350px;


}


#sortblockh3 {
margin-top: 8px;
margin-bottom: 35px;
font-size: 21px;
color: var(--var-allcolor);
padding-left: 8px;
letter-spacing: 0.6px;
font-weight: 600;
height: 0px;
}

@media (max-width: 330px){
  .category {
    min-height: 43px;
  }
  .rotated {
    top: 21px;
 }
}

/* ---------------------------------------------------------------------switch--------------------------------- */


/* The switch - the box around the slider */
.switcherparent {
  width: 100%;
}
.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: fixed;
    padding: 0;
    right: 10px;
    top: 10px;
    z-index: 999999999;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--var-switchcircle);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: var(--var-switchback)
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

.butallformcont {
  /* width: 290px; */
  display:list-item;
  height: 42px;
  /* margin-left: -21px; */
  z-index: 9999999999999;
  max-width: 340px;
  margin: 10px 5px 0px 5px;
  padding: 10px 0px;
  
}
#butallform{
  width: 100%;
  height: 44px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 500;
  background-color: #343434;
  color: #fff;
  border: solid 2px #ffffff;
  border: none;
  transition: border 0.1s;
  transition: color 2s;
}
#butallform:hover {
  border: solid 2px #9121f3;
color: #ce97ff;
}
.opencardscont {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#opencards {
  width: 290px;
  height: 44px;
  padding: 0;
  margin-top: -26px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 500;
  background-color: #343434;
  color: #fff;
  border: solid 2px #ffffff;
  border: none;
  transition: border 0.1s;
  transition: color 2s;
}

footer {
  width: 100%;
  height: 300px;
  background-color: var(--var-header-bg);
  margin-top: 150px;
}
.qwesttgcont {
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  padding-top: 100px;
  color: #f3f3f3;
  height: 50px;
  font-size: 15px;
  align-items: center;
}

.qwesttg {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.qwesttgcont a {
  color: #fff;
}

/* #tgicon{
  margin-top: 11px;
  margin-left: -11px;
  position: absolute;
  padding-bottom: 30px;
} */

#tglink {
  position: absolute;
  left: 40%;
  right: 40%;
  margin-top: -84px;
}

.textonmaincont {
  width: 100%;
  margin-top: 100px;
}

.textonmain {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color: #fff;
  /* text-align: justify;  */
  /* width: 300px; */
  background-color: var(--var-but-bg);
  padding: 15px;
  border-radius: 13px;
}
/* 
#mailicon {
  margin-top: -8px;
  margin-left: 100px;
  position: absolute;
} */

@media (min-width: 1000px){
header {
  padding-left: 10%;
}
.switch {
  right: 20%
}
/* .cardsfield {
  width: 86%;
  margin-left:11%;
} */

}

