    * {
  -webkit-tap-highlight-color: transparent;
      text-decoration: none;
}


#logo {
    color: #000000;
    padding-left: 18px;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 15px;
}
#logo a::before {
  color: #ffffff;
}
#logo a {
  color: #ffffff;
  transition: color 0.3s;
}
#logo a:hover {
  color: #a0a0a0;
}
header {
    background-color: #ffffff27;
    backdrop-filter: blur(20px);
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 57px;
    z-index: 999999999;
}
    body {
        
      font-family: Arial, sans-serif;
      display: flex;
      flex-wrap: wrap;
      background-color: #252525;
      /* align-items: center;
      justify-content: center;
      height: 100vh; */
      margin: 0;
      /* transition: all 2s; */
    }

    .card-title, .card-content {
      font-size: 20px;
    }
    .cardsfield {
        /* padding-top: 70px; */
      margin-top: 45px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      /* align-items: center;
      justify-content: center;
      height: 100vh; */
      margin: 0;
      /* transition: all 2s;  */
    }
    .flashcard {
      background-color: #343434;
      color: #fff;
      border: 1px solid #ccc;
      border-radius: 9px;
      /* padding: 20px; */
      padding: 0 10px 0 10px;
      text-align: center;
      cursor: pointer;
      /* transition: transform 0.5s; */
      margin: 10px;
      width: 170px;
      height: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .flashcard img {
      max-width: 100%;
      height: auto;
      max-height: 137px;

    }
   
    @media (max-width: 645px){
      .flashcard {
        width: 43%;
      }
    }
    @media (max-width: 600px){
      .flashcard {
        width: 42%;
      }
    }
    @media (max-width: 525px){
      .flashcard {
        width: 41.7%;
      }
    }
    @media (max-width: 500px){
      .flashcard {
        width: 41%;
      }
    }
    @media (max-width: 465px){
      .flashcard {
        width: 40%;
      }
    }
    
    @media (max-width: 445px){
      .flashcard {
        width: 40%;
      }
    }
    @media (max-width: 425px){
      .flashcard {
        width: 39%;
      }

    }
    @media (max-width: 380px){
      .flashcard {
        width: 38%;
      }
      .card-title {
        font-size: 18px;

      }

    }
    
    @media (max-width: 365px){
      .flashcard {
        width: 100%;
      }
      .card-title {
        font-size: 21px;

      }
    }


    .flashcard .card-content {
      display: none;
    }
    .flashcard.flipped .card-title {
      display: none;
    }
    .flashcard.flipped .card-content {
      display: block;
    }

    .mainscreenhi {
      letter-spacing: 1px;

      padding-left: 11px;
      padding-right: 11px;
      padding-top: 70px;
      margin-top: 45px;
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: 900;
      font-family: 'Inter', sans-serif;
      /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
      /* align-items: center;
      justify-content: center;
      height: 100vh; */
        margin: 0;
    }
    
::-webkit-scrollbar {
	width: 0px
}
::-webkit-scrollbar-track {
background-color: #2F2F2F
}
::-webkit-scrollbar-thumb {
	background-color: #b7b7b7;
	border-radius: 19px;
	border: 3px solid #2f2f2f
		
}

.namecategoriesonit {
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 70px;
  padding-top: 15px;
  font-size: 30px;
}
.namepodcat {
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
}

/* ---------------- */
@keyframes fadein {

  0% {opacity: 0;};
  100% {opacity: 2;}
  
}
.card-content {
  transform: rotateX(180deg);
  animation: fadein 0.2s ease-in-out;
}
.card-title {
  animation: fadein 0.2s ease-in-out;
}


.flashcard {
  perspective: 1000px;
  position: relative;
  transition: transform 0.2s;
}

.flashcard.flipped {
  transform: rotateX(180deg);
}

/* ------------------- */

/* .bigformuls {
  width: 190px;
} */
.buttogamecont {
  margin-left: auto;
  margin-right: auto;
 padding-bottom: 40px;
}
@keyframes animQsa4 {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
#buttogame {
  width: 230px;
  letter-spacing: 1.7px;
  position: relative;
  margin-top: 20px;
  margin-left: 12%;
  margin-right: 22%;
  background-color: #2F2F2F;
  background-image: url('https://seelk.by/wp-content/uploads/2023/10/form1background.webp');
  color: #fff;
  height: 40px;
  border-radius: 13px;
  border: solid 2px #707070;
  animation: animQsa4 70s infinite;
  font-size: 18px;
  transition: border 0.5s;
}
#buttogame:hover {
  border: solid 2px rgb(162, 0, 255);

}

.but {
  width: 280px;
  letter-spacing: 1.7px;
  position: absolute;
  margin-top: 70px;
  background-color: #2F2F2F;
  color: #fff;
  height: 60px;
  border-radius: 13px;
  border: solid 2px #707070;
  font-size: 18px;
  transition: border 0.5s;

}

.but:hover {
  border: solid 2px #fff;
}

.parentexttogame {
  width: 400px;
  width: 100%;
}

.texttogame {
  margin-left: auto;
  margin-right: auto;
  font-size: 19px;
  color: #fff;
  text-align: justify; 
  width: 300px;
}

@media (max-width: 590px){
  body {
    background-image: url('https://seelk.by/wp-content/uploads/2023/11/freffaf.png');
    background-size: 100%;
  }
}